<%= link_to development_path(development), class: "max-w-4xl mx-auto p-4 border border-gray-100 shadow-md block" do %>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-2/3 flex items-center">
      <%= image_tag development.logo, alt: development.name, class: "mr-4 h-16 w-16 rounded-full" %>
      <div>
        <h2 class="text-xl font-bold"><%= development.name %></h2>
        <div class="flex items-center">
          <span class="pr-2 text-lg font-bold"><%= average %></span>
          <span class="text-yellow-400">
            <svg aria-hidden="true" class="w-5 h-5 text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="m12 2.694 2.119 6.857.109.352h7.294L15.898 14.2l-.277.212.103.333 2.135 6.909-5.556-4.244-.303-.232-.303.232-5.556 4.244 2.135-6.909.103-.333-.277-.212-5.624-4.296h7.295l.108-.352L12 2.694Z"></path>
            </svg>
          </span>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/3 mt-4 lg:mt-0 flex justify-between">
      <div class="flex flex-col items-center hover:underline">
        <h3 class="text-lg font-bold"><%= development.reviews.count %></h3>
        <span class="text-gray-600">Reviews</span>
      </div>
      <div class="flex flex-col items-center">
        <h3 class="text-lg font-bold"><%= development.planned_start_date %></h3>
        <span class="text-gray-600">Start Date</span>
      </div>
    </div>
    <div class="w-full lg:w-1/3 mt-4">
      <span class="font-semibold">Location</span>
      <span class="block mt-1 text-gray-600"><%= development.address %></span>
    </div>
    <div class="w-full lg:w-1/3 mt-4">
      <span class="font-semibold">Acreage Planned</span>
      <span class="block mt-1 text-gray-600"><%= development.acreage %></span>
    </div>
    <div class="w-full lg:w-1/3 mt-4">
      <span class="font-semibold">Native Ecosystem</span>
      <span class="block mt-1 text-gray-600"><%= development.ecosystem %></span>
    </div>
    <div class="w-full mt-4">
      <span class="font-semibold">Description</span>
      <p class="mt-2 text-gray-600">
        <%= development.description %>
      </p>
    </div>
  </div>
<% end %>
