<div class="max-w-4xl w-full md:p-4 block">
    <div class="w-full border border-gray-100 shadow-md">
      <div class="p-0 md:p-4 w-full mb-4 md:mb-0">
        <%= image_tag @image, class: "h-72 w-full object-cover" %>
        <div class="w-full flex p-2 md:p-4 justify-between">
          <div class="flex flex-col">
            <h2 class="text-md md:text-xl font-semibold"><%= @development.name %>: </h2>
            <div class="flex self-center">
              <span class="text-md md:text-lg font-bold"><%= @average %></span>
              <svg aria-hidden="true" class="w-5 h-5 text-yellow-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="m12 2.694 2.119 6.857.109.352h7.294L15.898 14.2l-.277.212.103.333 2.135 6.909-5.556-4.244-.303-.232-.303.232-5.556 4.244 2.135-6.909.103-.333-.277-.212-5.624-4.296h7.295l.108-.352L12 2.694Z"></path>
              </svg>
            </div>
          </div>
          <%= link_to "Edit", edit_moderator_development_path(@development), remote: true, data: { turbo_frame: "moderator_frame" }, class: "flex justify-center items-center min-w-fit text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs md:text-sm md:px-5 md:py-2.5 md:me-2 md:mb-2 px-2 py-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
        </div>
        <ul data-controller="navigation" class="flex w-full gap-4 px-4">
          <li class="hover:underline text-black">
            <%= link_to "Description", render_description_path(@development), remote: true, class: "underline font-medium text-gray-600 hover:underline", data: { navigation_target: "link", turbo_frame: "description" } %>
          </li>
          <li class="hover:underline text-black">
            <%= link_to "Reviews", development_reviews_path(@development), class: "font-medium text-gray-600 hover:underline", data: { navigation_target: "link", turbo_frame: "description" } %>
          </li>
          <li class="hover:underline text-black">
            <button class="font-medium text-gray-600 hover:underline">Native Plants</button>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <%= turbo_frame_tag "description" do %>
        <!-- Description -->
        <%= render "custom_description", development: @development %>
      <% end %>
  </div>
</div>
  