<%= form_with(model: [@development, @review], local: true, class: "space-y-8") do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation" class="bg-red-50 border border-red-400 text-red-700 px-4 py-3 rounded-lg mt-3">
      <h2 class="font-bold mb-2"><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul class="list-disc list-inside">
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="bg-white p-6 rounded-lg shadow-md space-y-4">
    <div class="space-y-2">
      <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :title, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    </div>

    <div class="space-y-2">
      <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_area :description, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
    </div>

    <h3 class="text-lg font-medium text-gray-900">Scores</h3>
    <div class="space-y-4">
      <%= form.fields_for :scores do |score_fields| %>
        <div class="my-5">
          <%= score_fields.label :value, score_fields.object.score_type.name %>
          <%= score_fields.select :value, options_for_select(1..5), {}, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2" %>
          <%= score_fields.hidden_field :score_type_id %>
        </div>
      <% end %>
    </div>

    <div class="flex justify-end">
      <%= form.submit "Submit", class: "rounded-lg py-2 px-4 bg-blue-600 text-white font-medium hover:bg-blue-700 focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
    </div>
  </div>
<% end %>
