<div class="flex flex-col w-full">

  <section class="py-10">
    <div class="container max-w-screen-xl mx-auto px-4">
      <div class="text-center">
        <div class="flex justify-center mb-16">
            <%= image_tag "favicon.png" %>
        </div>
        <h1 class="font-normal text-gray-900 text-4xl md:text-7xl leading-none mb-8">ConeFlower</h1>
        <p class="font-normal text-gray-600 text-md md:text-xl mb-16">Community Solutions to Environment Stewardship</p>
      </div>
    </div>
  </section>

  <section class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4 ">
      <div class="flex flex-col lg:flex-row justify-between bg-gray-50 p-8 rounded-sm">
        <div class="mb-10 lg:mb-0">
          <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">What We Do</h1>
        <div>
        <div class="text-lg leading-relaxed">
          <p class="mb-4">At <strong class="font-semibold">ConeFlower</strong>, we're dedicated to promoting environmental stewardship through community-driven reviews of housing developments. Here’s how it works:</p>

          <ol class="list-decimal pl-6 mb-6">
            <li class="mb-4"><strong class="font-semibold">Curate Sustainable Data:</strong> We compile comprehensive data on housing developments, focusing on key sustainability metrics. This includes whether developers are planting native ecotype plants, preserving natural habitats, and implementing eco-friendly practices.</li>
            <li class="mb-4"><strong class="font-semibold">Empower Community Reviews:</strong> Community members like you play a vital role. You can review these developments based on their environmental impact. Your insights help create transparency and accountability in the building industry, influencing future development practices.</li>
            <li class="mb-4"><strong class="font-semibold">Shape Sustainable Communities:</strong> Together, we advocate for sustainable living and celebrate efforts that prioritize our planet's well-being. By participating in our platform, you contribute to a greener future, ensuring that every development decision considers its ecological footprint.</li>
          </ol>

          <p>Join us in making a difference. Together, we can build communities that respect and preserve our natural environment for generations to come.</p>
        </div>

      </div>
    </div>
  </section>
  
  <section class="py-10 md:py-16">
    <div class="container max-w-screen-xl mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

        <div class="bg-gray-50 px-8 py-10 rounded-md">
            <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                <%= image_tag "megaphone.svg", class: "h-8 w-8" %>
            </div>
            <h4 class="font-medium text-gray-700 text-lg mb-4">Empower Your Voice</h4>
            <p class="font-normal text-gray-500 text-md">Join a community dedicated to environmental stewardship. Our app allows you to review housing developments based on their impact on the environment, ensuring your voice is heard in shaping sustainable communities.</p>
        </div>

        <div class="bg-gray-50 px-8 py-10 rounded-md">
            <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                <%= image_tag "magnify.svg", class: "h-8 w-8" %>
            </div>
            <h4 class="font-medium text-gray-700 text-lg mb-4">Transparency and Accountability</h4>
            <p class="font-normal text-gray-500 text-md">We believe in transparency. Our platform empowers users to assess housing developments' environmental practices, promoting accountability among builders and fostering a greener future.</p>
        </div>

        <div class="bg-gray-50 px-8 py-10 rounded-md">
            <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                <%= image_tag "leaf.svg", class: "h-8 w-8" %>
            </div>
            <h4 class="font-medium text-gray-700 text-lg mb-4">Celebrate Sustainability</h4>
            <p class="font-normal text-gray-500 text-md">Together, we celebrate and promote sustainable living. By rating developments on ecological criteria, you contribute to a collective effort towards preserving our planet's natural resources for future generations.</p>
        </div>

      </div>
    </div>
  </section>
  
  <section class="py-10 md:py-16">
  
    <div class="container max-w-screen-xl mx-auto px-4">
  
      <div class="flex flex-col lg:flex-row justify-between">
        <div class="mb-10 lg:mb-0">
          <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">How we work</h1>

          <p class="font-normal text-gray-500 text-xs md:text-base">some broadstrokes.</p>
        </div>

        <div class="space-y-24">
          <div class="flex space-x-6">
            <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">01</h1>

            <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

            <div>
                <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">The Community Finds a Development</h1>

                <p class="font-normal text-gray-500 text-sm md:text-base">A new housing development and it's information is added to our database.</p>
            </div>
          </div>

          <div class="flex space-x-6">
            <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">02</h1>

            <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

            <div>
                <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">Users Review It</h1>

                <p class="font-normal text-gray-500 text-sm md:text-base">You help the world know how important sustainable landscaping is and what can be changed to help</p>
            </div>
          </div>

          <div class="flex space-x-6">
            <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">03</h1>

            <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

            <div>
                <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">Community Organization</h1>

                <p class="font-normal text-gray-500 text-sm md:text-base">Here we pass the reins back to you! Guerrilla Garden, Lobby your town council, Fight the Man!</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  
  </section>
  
  <section class="py-10 md:py-16">
  
    <div class="container max-w-screen-xl mx-auto px-4">

      <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Meet the Team</h1>

      <p class="font-normal text-gray-500 text-xs md:text-base mb-10 md:mb-20">Here's to Major Contributors to the Project</p>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Card for Person -->
        <a href="https://trustpizza.github.io/portfolio/" target="_blank" class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="flex flex-col items-center p-10">
              <%= image_tag "axel.jpeg", class: "w-36 h-36 mb-3 rounded-full shadow-lg object-cover", alt: "Axel Olsson" %>
              <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Axel Olsson</h5>
              <span class="text-sm text-gray-500 dark:text-gray-400">Software Engineer</span>
          </div>
        </a>
    </div>
  
  </section>
</div>
