<div id="<%= dom_id development %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= development.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= development.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Acreage:</strong>
    <%= development.acreage %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= development.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Website:</strong>
    <%= development.website %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Planned start date:</strong>
    <%= development.planned_start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Planned end date:</strong>
    <%= development.planned_end_date %>
  </p>

</div>
